#jumbo {
    background-repeat: round;
    background-color:transparent;
}

body {
    background-color: #fff7df ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#white {
    color:black;
}

#image {
    margin-left:auto;
    margin-right:auto;
    display:inline;
    max-width:100%;
}

#website-navbar {
    position:sticky;
    top:0px;
}
